{% extends "base.html" %}

{% block body_block %}

<div class="jumbotron">
        <h2 style="color:white">Welcome to the car care portal</h2>
        <h3 style="color:white">We are sorry that this happened to you</h3>
        <h3 style="color:white">Let us help you get back on the road</h3>
    </div>
    
    <div class="bottom">
        <h4 style="color:white">How does this work:</h4>
        <h5 style="color:white">Click on car damage toolkit</h5>
        <h5 style="color:white">Upload an image</h5>
        <h5 style="color:white">Click on process</h5>
    </div>
    
    <div class="bottomright">
        <h5 style="color:white">sanadbawab0@gmail.com</h5>
    </div>

    
{% endblock %}